* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

h1 {
    text-align: center;
}

.container {
    max-width: 800px;
    width: 90vw;
    margin: 1rem auto;
}

#editor-fields {
    display: flex;
    flex-direction: column;
    position: relative;
}
#editor-fields > *:not(:first-child) {
    margin-top: 20px;
}

#editor-fields p {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
#editor-fields p[contenteditable|="true"]:focus {
    outline: none;
}

#layover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: none;
}

#dbtn {
    background-color: #333;
    display: none;
    width: max-content;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    z-index: 5;
    transform: translateY(calc(-100% - 10px)) translateX(-50%);
}
#dbtn::before {
    content: "";
    border: 7px solid transparent;
    border-top-width: 15px;
    border-top-color: #333;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}
#dbtn button {
    padding: 7px;
    margin: 7px;
    cursor: pointer;
}

.toogle{ 
    position: absolute;
    left:-3rem;
    border: 1px solid black;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}